/* src/HomePage.css */
.home-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    /* background-color: #f5f5f5; */
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    color: #333;
}

.test-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.test-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.test-card h2 {
    margin: 0;
    color: #007BFF;
}

.test-card p {
    margin: 10px 0;
    color: #555;
    font-size: 16px;
}


/* src/HomePage.css */
/* Add this to your existing CSS */
.start-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.start-button:hover {
    background-color: #0056b3;
}
